# Metadata

```
Course:   DS 5001
Module:   08 Lab
Topic:    Topic Modeling Class
Author:   R.C. Alvarado
```

# Set Up

In [2]:
data_home = "../data"
local_lib = "../lib"

In [3]:
import pandas as pd
import numpy as np
import sys; sys.path.append(local_lib)

In [4]:
from topicmodel import TopicModel

# Get Data

In [5]:
BOW = pd.read_csv(f"{data_home}/output/airbnb-uk-nouns.csv").set_index(['doc_id','term_str'])

In [6]:
BOW

                  n
doc_id term_str
0      advice     1
       amenity    1
       apartment  1
       bar        1
       bedroom    1
...              ..
17368  sight      1
       space      1
       station    1
       transport  1
       walk       2

[543065 rows x 1 columns]

# Generate Topic Model

In [ ]:
tm_book = TopicModel(BOW)
tm_book.n_topics = 40
tm_book.create_X()
tm_book.get_model()
tm_book.describe_topics()

In [ ]:
tm_book.plot_topics()